<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body onload="renderHello()">
    <h1>smart contract : </h1>
    <%=contractName%>
    <h1>Reward :</h1>
    <%=reward%>
</script>

<p></p>

</body>
</html>