<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body onload="renderHello()">
    <span>market is 
    <% if (marketIsClosed == false) { %>
        <span>open</span>
    <% } else { %>
        <span>close</span>
    <% } %>
    <h1>smart contract : </h1>
    <%=contractName%>
    <h1>Reward :</h1>
    <%=reward%>
</script>

<div>
    <button></button>
</div>
</body>
</html>