body {
    text-align: center;
    padding-top: 10%;
}

.market_green {
    margin: 10px;
    border: black solid 1px;  
    padding: 20px;
    background-color: green;
}

.market_red {
    margin: 10px;
    border: black solid 1px;  
    padding: 20px;
    background-color: red;
}

.encart {
    margin: 20px;
}

form my_input {
    margin :5px;
}

#event_info{
    padding-top: 10px;
}

#event_info h1 {
    color : blue;
}
