<html>
    <head></head>
    <body>
        <div id="show_prices">
            <p>
                <h1>Crypto prices</h1>
                <p>bitcoin <%=bitcoin%> USD</p>
                <p>bitcoin last variation : <%=variationBtc%></p>
                <p>ethereum <%=ethereum%> USD</p>
                <p>ethereum last variation : <%=variationEth%></p>
            </p>
        </div>
        <div id="price_details">            
        </div>
        <div id="load_details">Loading price details ...</div>
        <div id="force">
        </div>
        <div id="load_force">Loading price buyers/sellers stats ...</div>
        <div id="resistance">

        </div>
        <div id="load_resistance">loading resistacne and support ...</div>
        <script type="text/javascript" src="./js/main.js"></script> 
    </body>
</html>